%ul.section
  - yaml.each do |section_name, subsections|
    %a(id="sidebar-section-#{section_name}"
       class="#{section_name}"
       href="/#{section_name}")= section_name.capitalize
    - subsections.each do |subsection_name, _|
      %li.nav-item
        %a(id="sidebar-subsection-#{subsection_name}"
           class="#{subsection_name}"
           href="/#{section_name}##{subsection_name}")= subsection_name.capitalize.gsub('-', ' ')
